@charset "UTF-8";
body{
    background-color: #E6E6E6;
}
.input-resize{
    width:250px;
}

.l-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.l-container form{
    background-color: white;
    width:500px;
    height: 600px;    
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#btn-idcheck{
	border: 1px solid #CED4DA;
	
}

.signup-msg{
	margin-top:1rem;
	color:red;
}
